.education {
  height: 100vh;
  min-height: 600px;
  background-image: url('../images/background-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden ;
  
  h2 {
    padding-top: calc(var(--index)*3);
    text-align: center;
    color: $color_white;
    }
}

.education__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: $color_text;
}

.education__text {
  position: relative;
  margin-top: 7vh;
  max-width: 624px;
  
  h3, span {
    position: relative;
    margin-top: 6vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    @include media-tablet {
      font-size: 14px;
      line-height: normal;
    }
    @include mobile-width {
      font-size: 12px;
    }
  }
  
  @include media-content {
    max-width: 568px;
  }
  @include min-content-width {
    max-width: 48vw;
  }
  @include mobile-width {
    max-width: none;
  }
}

.education__foto {
  position: relative;
  transition: .5s;
  width: 100%;
  top: 10vh;

  @include mobile-width {
   position: absolute;
  }
}

.education__star {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 550px;
  
  @include min-content-width {
    height: calc(var(--index)*22);
    max-width: none;
  }
  @include media-tablet {
    height: auto;
    left: 60vw;
  }
  @include mobile-width {
    display: none;
  }
}


.diplom {
  position: absolute;
  cursor: pointer;
  transition: .5s;
  z-index: 15;
}

.teacher_education,
.retraining_course,
.retraining,
.thinking {
  color: $color_yellow;
  cursor: pointer;
}

.off {
  display: none;
  transition: 0.5s;
}


.on__mobile {
  @include mobile-width {
    display: block;
    transition: 0.5s;
  }
}

.right_0 {
  left: 10%;
  width: 40vw;
  max-width: 600px;
  right: 2vw;
  bottom: 0;

  @include min-content-width {
    right: auto;
    bottom: 25vh;
    max-height: 40vh;
  }
  @include mobile-width {
    left: 4%;
    width: 89vw;
    right: auto;
    bottom: auto;
    max-width: none;
    max-height: none;
  }
}

.center_diplom {
  width: 100%;
  text-align: center;
  
  img {
    width: 33%;
  }
  @include min-content-width {
    top: 10%;

    img {
      width: 50%;
    }
  }

  @include mobile-width {
    // width: 89vw;
    max-width: none;
    // right: 2vw;
  }
  
}

.black__bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 11;
  transition: .5s;
}