.education {
  height: 100vh;

  background-image: url('../images/background-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  h2 {
    padding-top: calc(var(--index)*3);
    text-align: center;
    color: $color_white;
    }
}

.education__content {
  display: flex;
  justify-content: space-between;
  color: $color_text;
  position: relative;
}

.education__text {
  position: relative;
  margin-top: 7vh;
  max-width: 624px;
  
  h3 {
    position: relative;
    margin-top: 6vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    @include media-tablet {
      font-size: 14px;
      line-height: normal;
    }
  }
  
  @include media-content {
    max-width: 568px;
  }
  @include min-content-width {
    max-width: 48vw;
  }
}

.education__foto {
  position: relative;
  transition: .5s;
  width: 100%;
  top: 10vh;
}

.education__star {
  position: absolute;
  height: calc(var(--index)*25);
  right: 0;
  top: 0;
  
  @include min-content-width {
    height: calc(var(--index)*22);
  }
  @include media-tablet {
    height: calc(var(--index) * 36);
    left: 60vw;
  }
}


.diplom {
  position: absolute;
  right: 10vw;
  cursor: pointer;
  transition: .5s;
  z-index: 15;

  @include min-content-width {
    right: 7vw;
  }
}

.teacher_education,
.retraining_course,
.retraining,
.thinking {
  color: $color_yellow;
  cursor: pointer;
}

.off {
  display: none;
  transition: 0.5s;
}


.right_0 {
  max-width: 40vw;
  right: 2vw;
  bottom: 0;

  @include min-content-width {
    right: 0;
    bottom: 25vh;
    max-height: 40vh;
  }
}

.center_diplom {
  max-height: 60vh;
}

.black__bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 11;
  transition: .5s;
}