.header {
  height: 700px;
  background-image: url('../images/background-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;

  @include  media-tablet {
    height: 860px;
  }
}

.wrapper__navbar {
  display: flex;
  align-items:flex-start;
}

.header__left__blok {
  z-index: 6;
}

.title {
  margin-top: 88px;
  width: 520px;
    
  @include media-content {
    margin-top: 56px;
}

  @include media-tablet  {
    width: 292px;
    position: relative;
    top: 266px
  } 

  h1, h2{
    color: $color_white;
    font-size: 80px;
    line-height: 79px;
    text-transform: uppercase;

    @include media-tablet  {
      font-size: 46px;
      line-height: 46px;
    } 
  }

  h2 {
    margin-top: 0;
  }

  h3 {
    margin-top: 20px;
    color: $color_text;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;

    @include media-content {
      margin-top: 12px;
    }

    // @include  min-content-width {

    // }

    @include media-tablet  {
      font-size: 16px;
      line-height: 21px;
    }
  }
}

.header__right__blok, .heder__img, .heder-stars-box, .stars  {
  position: relative;
}

.header__right__blok {
  display: flex;
  height: 700px;
  width: 100%;
}

.kye__box {
  position: relative;
  left: 95px;
  transform-origin: center top;
  cursor: pointer;
  z-index: 3;

  @include media-content {
    left: 25px;
    scale: 0.9;
  }
  
  @include min-content-width {
    left: 32px;
  }
  
  @include mobile-width {
    left: 20px;
    top: 140px;
  }
}

.moon {
  position: relative;
  width: 25vw;
  max-width: 351px;
  height: fit-content;
  top: 24px;
  left: 78px;
  transform-origin: top left;
  z-index: 2;
  
  @include media-content {
    top: 18px;
    left: 11px;
  }
  @include min-content-width {
    width: 30vw;
    left: auto;
    right: 142px;
  }
  @include  media-tablet {
    top: -39px;
    right: 0;
    width: 516px;
    max-width: none;
    z-index: 4;
  }

  @include mobile-width {
    right: 149px;
  }
}

.women {
  position: absolute;
  width: 358px;
  height: 327px;
  top: 334px;
  right: 47px;

  @include media-content {
    right: 105px;
    width: 24vw;
    height: fit-content;
  }

  @include min-content-width {
    width: 280px;
    right: 0;
    top: 381px;
  }

  @include media-tablet {
    left: 108px;
    top: 586px;
  }

  @include mobile-width {
    left: 0;
  }

  @include mobile-width {
    left: 20px;
  }
}

.field {
  position: relative;
  width: auto;
  height: 240px;
  bottom: 240px;
  float: right; 

  @include min-content-width {
    left: 170px;
  }
  
  @include media-tablet {
    bottom: 0;
    left: 100px;
  }
}



.stars:hover {
  scale: 1.2;
}

.heder__stars__box {
  position: absolute;
  top: -10px;
  right: 17px;
  z-index: 1;

    @include media-content {
    scale: 0.9;
    right: 0;
    top: 12px;
    transform-origin: top right;
  }

  @include media-tablet {
    display: none;
  }
}

.heder__stars__box__table {
  display: none;
  transform: rotateY(180deg);
  
  @include media-tablet  {
    display: block;
    position: absolute;
    top: 303px;
    left: 0;
    scale: 0.8;
  }
}

.stars_0 {
  left: 198px;
  top: 103px;
}

.stars_1 {
  left: 221px;
  top: 159px;
}

.stars_2 {
  left: 251px;
  top: 70px;
}

.stars_3 {
  left: 255px;
  top: 91px;
}

.stars_4 {
  left: 219px;
  top: -5px;
}

.stars_5 {
  left: 219px;
  top: 123px;
}

.stars_6 {
  left: 219px;
  top: -34px;
}

.stars_7 {
  left: 196px;
  top: -13px;
}

.stars_8 {
  left: 36px;
  top: 58px;
}

.stars_9 {
  left: 83px;
  top: 35px;
}

.stars_10 {
  left: -119px;
  top: 197px;
}

.stars_11 {
  left: -39px;
  top: 110px;
}

.stars_12 {
  left: -27px;
  top: 199px;
}

// .stars_0 {
//   left: 122px;
//   top: 140px;
// }

// .stars_1 {
//   left: 194px;
//   top: 151px;
// }

// .stars_2 {
//   left: 253px;
//   top: 83px;
// }

// .stars_3 {
//   left: 303px;
//   top: 91px;
// }

// .stars_4 {
//   left: 305px;
//   top: -68px;
// }

// .stars_5 {
//   left: 223px;
//   top: 35px;
// }

// .stars_6 {
//   left: 321px;
//   top: -69px;
// }

// .stars_7 {
//   left: 270px;
//   top: -65px;
// }

// .stars_8 {
//   left: 179px;
//   top: -77px;
// }

// .stars_9 {
//   left: 302px;
//   top: -151px;
// }

// .stars_10 {
//   left: 100px;
//   top: 14px;
// }

// .stars_11 {
//   left: 249px;
//   top: -114px;
// }

// .stars_12 {
//   left: 264px;
//   top: -23px;
// }

.stars {
  opacity: 0;
  transition: .3s;
}