.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $color_text;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: $color_yellow;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.header {
  height: 700px;
  background-image: url('../images/background-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;

  @include media-tablet {
    height: 860px;
  }

  @include mobile-width {
    height: 570px;
  }
}

.spase {
  display: inline-block;
  width: 1%;
}

.wrapper__navbar {
  display: flex;
  align-items: flex-start;

  @include mobile-width {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.header__left__blok {
  z-index: 6;

  @include mobile-width {
    height: 570px;
    z-index: 1;
  }
}

.header__right__blok {
  display: flex;
  height: 700px;
  width: 100%;

  @include mobile-width {
    height: auto;
  }
}


.title {
  margin-top: 7vh;
  min-width: 550px;

  @include media-content {
    margin-top: 56px;
    min-width: 0;
  }

  @include media-tablet {
    position: relative;
    width: 292px;
    min-width: auto;
    margin-top: auto;
    top: 382px;
  }

  h1,
  h2 {
    color: $color_white;
    font-size: 80px;
    line-height: normal;
    text-transform: uppercase;
    white-space: nowrap;

    @include media-content {
      font-size: 70px;
    }

    @include media-tablet {
      font-size: 46px;
      text-align: center;
    }

    @include mobile-width {
      font-size: 42px;
    }
  }

  h2 {
    margin-top: 0;
  }

  h3 {
    width: 80%;
    min-width: 500px;
    margin-top: 20px;
    color: $color_text;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    white-space: nowrap;

    @include media-content {
      min-width: 450px;
      margin-top: 12px;
      font-size: 20px;
      line-height: normal;
    }

    @include media-tablet {
      width: auto;
      min-width: auto;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
    }
  }
}

.header__right__blok,
.heder__img,
.heder-stars-box,
.stars {
  position: relative;
}



.kye__box {
  height: 545px;
  position: absolute;
  transform-origin: center top;
  z-index: 3;
  cursor: pointer;

  @include media-content {
    left: 0;
  }

  @include media-tablet {
    top: 100px;
    left: 50px;
  }

  @include mobile-width {
    position: absolute;
    left: auto;
    right: 7vw;
    top: -159px;
    z-index: 10;
    // transform: scale(-1, 1)
  }
}


.kye__img {
  height: 100%;

  @include media-content {
    height: 90%;
  }

  @include min-content-width {}

  @include media-tablet {}
}

.moon {
  position: absolute;
  width: 25vw;
  max-width: 351px;
  top: 24px;
  left: 65px;
  transform-origin: top left;
  z-index: 2;

  @include media-content {
    top: 18px;
    left: 11px;
  }

  @include min-content-width {
    width: 30vw;
    left: auto;
    right: 142px;
  }

  @include media-tablet {
    top: -45px;
    left: 40px;
    width: 516px;
    max-width: none;
    z-index: 4;
  }

  @include mobile-width {
    right: 166px;
    top: -150px;
    left: auto;
    width: 409px;
  }
}

.women {
  position: absolute;
  width: 358px;
  height: 327px;
  top: 334px;
  right: 47px;

  @include media-content {
    right: 105px;
    width: 24vw;
    height: fit-content;
  }

  @include min-content-width {
    width: 280px;
    right: 0;
    top: 381px;
  }

  @include media-tablet {
    // left: 108px;
    top: 586px;
  }

  @include mobile-width {
    left: 0;
  }

  @include mobile-width {
    display: none;
    left: 20px;
  }
}

.field {
  position: relative;
  width: auto;
  height: 240px;
  bottom: 240px;
  float: right;

  @include min-content-width {
    left: 170px;
  }

  @include media-tablet {
    bottom: 0;
    left: 100px;
  }

  @include mobile-width {
    display: none;
  }
}



.stars:hover {
  scale: 1.2;
}

.heder__stars__box {
  position: absolute;
  top: -10px;
  right: 17px;
  z-index: 1;

  @include media-content {
    scale: 0.9;
    right: 0;
    top: 12px;
    transform-origin: top right;
  }

  @include media-tablet {
    display: none;
  }
}

.heder__stars__box__table {
  display: none;
  transform: rotateY(180deg);

  @include media-tablet {
    display: block;
    position: absolute;
    top: 303px;
    left: 0;
    scale: 0.8;
  }

  @include mobile-width {
    top: 100px;
  }
}

.stars_0 {
  left: 198px;
  top: 103px;

  @include mobile-width {
    left: 121px;
    top: 179px;
    rotate: 321deg;
  }
}

.stars_1 {
  left: 221px;
  top: 159px;

  @include mobile-width {
    left: 4px;
    top: 118px;
    rotate: 120deg;
  }
}

.stars_2 {
  left: 251px;
  top: 70px;

}

.stars_3 {
  left: 255px;
  top: 91px;
}

.stars_4 {
  left: 219px;
  top: -5px;
}

.stars_5 {
  left: 219px;
  top: 123px;
}

.stars_6 {
  left: 219px;
  top: -34px;
}

.stars_7 {
  left: 196px;
  top: -13px;
}

.stars_8 {
  left: 36px;
  top: 58px;

  @include mobile-width {
    left: 59px;
    top: 126px;
  }
}

.stars_9 {
  left: 83px;
  top: 35px;
}

.stars_10 {
  left: -119px;
  top: 197px;

  @include mobile-width {
    left: -144px;
    top: 185px;
  }
}

.stars_11 {
  left: -39px;
  top: 110px;
}

.stars_12 {
  left: -27px;
  top: 199px;

  @include mobile-width {
    left: -212px;
    top: 41px;
  }
}


.stars_2,
.stars_3,
.stars_4,
.stars_5,
.stars_6,
.stars_7,
.stars_9,
.stars_11 {
  @include mobile-width {
    display: none;
  }
}

.stars {
  position: relative;
  opacity: 0;
  transition: .3s;
}