.header {
  height: 700px;
  background-image: url('../images/background-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper__for__img {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper__navbar {
  display: flex;
  align-items:flex-start;
}

.title {
  width: 520px;

  h1, h2{
    margin-top: 88px;
    color: $color_white;
    font-size: 80px;
    line-height: 79px;
    text-transform: uppercase;
  }

  h2 {
    margin-top: 0;
  }

  h3 {
    margin-top: 20px;
    color: $color_text;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
  }
}

.header__right__blok, .heder__img, .heder-stars-box, .stars  {
  position: relative;
}

.header__right__blok {
  display: flex;
  overflow: hidden;
  height: 700px;
}

.kye__box {
  position: relative;
  width: 95px;
  left: 95px;
  transform-origin: center top;
  z-index: 2;
}

.moon {
  width: 351px;
  height: 340px;
  top: 24px;
  left: 78px;
  transform-origin: top left;
}

.women {
  width: 358px;
  height: 327px;
  top: 334px;
  right: 117px;
}

.field {
  width: auto;
  height: 240px;
  bottom: 240px;
  float: right; 
}

.stars {
  transition: .3s;
}

.stars:hover {
  scale: 1.2;
}

.heder__stars__box {
  width: 226px;
  height: 249px;
  top: 34px;
  left: 568px;
}
  


.stars {
  opacity: 0;
}   

.stars_0 {
  left: 122px;
  top: 140px;
}

.stars_1 {
  left: 194px;
  top: 151px;
}

.stars_2 {
  left: 253px;
  top: 83px;
}

.stars_3 {
  left: 303px;
  top: 91px;
}

.stars_4 {
  left: 305px;
  top: -68px;
}

.stars_5 {
  left: 223px;
  top: 35px;
}

.stars_6 {
  left: 321px;
  top: -69px;
}

.stars_7 {
  left: 270px;
  top: -65px;
}

.stars_8 {
  left: 179px;
  top: -77px;
}

.stars_9 {
  left: 302px;
  top: -151px;
}

.stars_10 {
  left: 100px;
  top: 14px;
}

.stars_11 {
  left: 249px;
  top: -114px;
}

.stars_12 {
  left: 264px;
  top: -23px;
}
