.nav__bar {
  position: relative;
  width: 504px;
  top: 14px;
  color: $color_text;
}

.nav__li {
  position: relative;
  cursor: pointer;
  padding: 12px 0;
  list-style-type: none;
  
}

.nav__li:not(:last-child)::after {
  position: absolute;
  content: "";
  display: block;
  width: 504px;
  height: 2px;
  bottom: 0;
  background-color: $color_white;
  transition: .3s;
}

.nav__li:hover:after {
  width: 524px;
}
.nav__li:hover {
  font-size: 19px;
}