.nav__bar {
  position: relative;
  top: 14px;
  color: $color_text;
  width: 504px;
  

  @include media-content{
  width: 50vw;
}
  @include mobile-width {
    display: none;
  }
}

.nav__li, .nav__li_burger {
  height: 45px;
  position: relative;
  cursor: pointer;
  padding: 12px 0;
  list-style-type: none;
  
  a {
    text-decoration: none;
    color: $color_text;
  }

  @include mobile-width {
    height: 41px;
  }
}

.nav__li:not(:last-child)::after,
.nav__li_burger:not(:last-child)::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  max-width: 524px;
  height: 2px;
  bottom: 0;
  background-color: $color_white;
  transition: .3s;

  // @include media-tablet {
  //   width: 290px;
  // }
}

.nav__li_burger:not(:last-child)::after {
  width: 250px;
}

.nav__li:hover:after {
  width: 105%;
}

.nav__li_burger:hover:after {
  width: 260px;
}

.nav__li:hover, .nav__li_burger:hover {
  a {
    transition: .5s;
    font-size: 19px;
  }
}