.reviews {
  height: 100vh;
  background-color: $color_text;
  overflow: hidden;
  
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.price__stars {
  height: 100%;
}

.reviews__content {
  width: 100%;
  padding-top: calc(var(--index)*6);
  
  h2 {
    text-align: center;
  }

  h4 {
    width: 100%;
  }

  h5 {
    margin-top: 25px;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: right;
    text-transform: none;
  }
}


.line {
  content: '';
  display: block;
  height: 2px;
  background-color: black; 
  margin: 24px 0;
}

.reviews__text_blok {
  margin-top: calc(var(--index)*4);
}

