.section__if__you__want {
  background-color: $color_yellow;
  overflow: hidden ;

  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}

.wrapper__for__mobile {
  position: relative;
  width: 100%;
  height: 90%;
  min-height: 600px;
  top: 114px;

  @include mobile-width {
    top: auto;
  }
}

.if__you__want__title {
  height: 100vh;
}

.if__you__want__top {
  position: relative; 
  display: flex;
  justify-content: center;
  padding-top: 120px;
  
  @include mobile-width {
    padding-top: 14vh;
  }
}

.if__you__want__top__vector {
  position: relative;
}

.vector__stars, .vector__moon {
  position: absolute;
  opacity: 1;
  right: 800px;
}

.vector__stars {
  bottom: 320px;
  
  @include media-tablet {
    bottom: 340px;
    width: 126px;
  }
  @include mobile-width {
    display: none;
  }
}

.vector__moon {
  top: -65px;

  @include min-content-width {
    width: 280px;
  }
  @include media-tablet {
    width: 200px;
  }
  @include mobile-width {
    display: none;
  }
}

.if__you__want__buttom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 151px;  
  gap: 72px;

  @include media-content {
    gap: 56px;
  }
  @include min-content-width {
    margin-top: 10vh;
  }
  @include media-tablet {
    gap: 20px;
  }
  @include mobile-width {
    position: relative;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    margin-top: 10vh;
    bottom: 0px;  
  }
}

.if__you__want__buttom__text {
  max-width: 70vw;
  display: grid;
}

.eyes {
  margin-top: -60px;
  
  @include media-content {
    width: 562px;
  }
  @include min-content-width {
    width: 50%;
    margin-top: 0;
  }
  @include media-tablet {
    max-width: 292px;
  }
  @include mobile-width {
    position: absolute;
    top: 35vh;
    width: 80vw;
    display: block;
  }
}

.eyes__off {
  display: none;
}

.if__you__want__buttom__one {
  grid-row: 1;
  grid-column: 1;
}

.if__you__want__buttom__two, .if__you__want__buttom__three, .if__you__want__buttom__four {
  position: relative;
  opacity: 1;
  grid-row: 1;
  grid-column: 1;
}

.it__is__me {
  height: 100vh;
  min-height: 600px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.it__is__me__title {
  position: absolute;
  bottom: 45vh;
  right: 10vw;
  
  @include media-content {
    right : 95px;
  }
  @include min-content-width {
  }
  @include mobile-width {
    bottom: 80vh;
    right : 10vw;
  }
}


.it__is__me__foto {
  position: relative;
  margin-top: 34px;
  transform-origin: bottom;
  bottom: 0;
  z-index: 1;
  height: auto;

  @include media-content {
    width: 50vw;
  }
  @include min-content-width {
    width: 50vw;
  }
  @include media-tablet {
    z-index: 2;
  }
  @include mobile-width {
    right: 0;
    margin-top: 0;
    width: 100vw;
  }
}

.it__is__me__star {
  position: absolute;
  // margin-left: 75px;
  // margin-bottom: 79px;
  right: 5vw;
  bottom: 10vh;

  @include media-content {
    transform-origin: left bottom;
    right: -60px;
  }
  @include min-content-width {
    width: 50vw;
  }
  @include media-tablet {
    width: 15vw;
    bottom: 300px;
    right: 30vw;
  }
  @include mobile-width {
    // height: 30vw;
    width: 30vw;
    // bottom: -34vh;
    bottom: 70vh;
    right: 21vw;

  }
}