.how__we__work {
  height: 100vh;
  background-image: url('../images/background-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .wrapper {
    // height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.how__we__work__title {
  position: relative;
  top: 120px;
  text-align: center;
  color: $color_white;

  @include min-content-width {
    top: 60px;
  }
  @include mobile-width {
    top: 20vh;
    font-size: 30px;
  }
}

.tablet {
  display: none;
  @include media-tablet {
    display: block;
  }
}

.content {
  @include media-tablet {
    display: none;
  }
}

.how__we__work__content {
  display: flex;
  position: relative;
  vertical-align: bottom;
  bottom: 0;
  height: 90vh;

  @include mobile-width {
    flex-direction: column;
    justify-content: space-between;
    bottom: 30px;
  }

  h4 {
    color: $color_white;
  }
}

.how__we__work__text {
  display: grid;
  max-width: 640px;
  width: auto;
  align-content: space-between;

  @include media-content {
    max-width: 562px;
  }

  @include min-content-width {
    max-width: 450px;
  }

  @include media-tablet {
    max-width: 292px;
  }
  @include mobile-large-width {
    margin-top: 2vh;
    max-width: 100%;
  }
}


.text_grid_row {
  grid-row: 1;
  grid-column: 1;
}

.price {
  position: relative;
  bottom: 70px;
  display: flex;
  flex-direction: column;

  @include min-content-width {
    bottom: 50px;
  }
  @include mobile-width {
    top: 10vh;
    bottom: 0;
  }

  div {
    display: flex;
    justify-content: space-between
  }

  h2 {
    color: $color_text;
    text-transform: none;
  }
  h3 {
    color: $color_yellow;
    width: 100%;
    text-transform: none;
  }
}

.how__we__work__not {
  position: absolute;
  text-align: center;
  color: $color_white;
  font-size: 80px;
  top: calc(var(--index)*10);
  left: calc(var(--index)*7);

  @include media-content {
    top: calc(var(--index) * 12);
    left: calc(var(--index) * 12);
  }
  
  @include media-tablet {
    top: calc(var(--index) * 22);
    font-size: 50px;
  }
  @include mobile-width {
    top: 40vh;
  }
}


.text_margin {
  margin-top: 64px;
  
  @include mobile-width {
    margin-top: 16px;
  }
}

.how__we__work__img {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: end;
  position: relative;

  @include mobile-width {
    justify-items: end;
    bottom: 0;
  }
}

.train {
  transform-origin: bottom right;
  // grid-column: 2 / -1;
  grid-column: 1/1;
  grid-row: 1;
  
  @include media-content {
    position: relative;
    scale: 0.9;
    right: 50px;
  }
  
  @include min-content-width {
    // grid-column: 1 / -1;
    grid-column: 1/1;
    scale: 0.8;
    right: 160px;
  }
  
  @include media-tablet {
    scale: 0.5;
    right: 200px;
  }
  @include mobile-width {
    // grid-column: 8/-1;
    grid-column: 1/1;
    width: 66vw;
    scale: 1;
    bottom: 0;
    left: 10px;
    top: 10px;
  }
}

.astronaut {
  grid-row: 1;
  // grid-column: 1 / span 8;
  grid-column: 1/1;
  z-index: 2;

  @include media-content {
    transform-origin: bottom;
    scale: 0.9;
  }
  
  @include min-content-width {
    scale: 0.8;
  }

  @include media-tablet {
    position: relative;
    scale: 0.7;
    right: 50px;
  }
  @include mobile-width {
    scale: 1;
    width: 60vw;
    right: 30vw;
  }
}

.stars__the__end {
  grid-row: 1;
  // grid-column: 6 / span 8;
  grid-column: 1/1;
  position: relative;
  top: -41vh;
  
  @include media-content {
    // grid-column: 4 / span 8;
    grid-column: 1/1;
    transform-origin: top right;
    scale: 0.9;
  }
  @include media-tablet {
    scale: 0.7;
    right: 94px;
    top: -191px;
  }
  @include mobile-width {
    scale: 1;
    // grid-column: 9/span 8;
    grid-column: 1/1;
    height: 200px;
    right: auto;
    left: 33px;
    top: -88px;
  }
}

.blue__planet {
  grid-row: 1;
  // grid-column: 4 / span 9;
  grid-column: 1/1;
  position: relative;
  top: -30vh;
  
  @include min-content-width {
    // grid-column: 3 / span 9;
    grid-column: 1/1;
    width: auto;
    scale: 0.9;
    left: calc(var(--index)* -1);
  }
  @include media-tablet {
    scale: 0.7;
    bottom: 115px;
    top: auto;
  }
  @include mobile-width {
    // grid-column: 5 / span 9;
    grid-column: 1/1;
    justify-self: center;
    left: auto;
    bottom: 0;
    top: 55%;
    scale: 1;
    width: 70vw;
  }
}

.call__my__box {
  display: inline-block;
  grid-row: 1;
  // grid-column: 3 / span 12;
  grid-column: 1/1;
  margin-bottom: 14vh;
  cursor: pointer;
  z-index: 150;
  @include mobile-width {
    // grid-column: 2 / span 10;
    width: 300px;
    grid-column: 1/1;
    justify-self: center;
  }
}

.call__my {
  height: 100%;
  color: $color_yellow;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  z-index: 150;
    
  h2 {
    color: $color_yellow;
    margin: 25px 0 18px;
    
    @include media-tablet {
      margin: 25px 0 9px;
      }
  }
}

.call__my:after, .call__my:before {
  align-items: center;
  position: absolute;
  content: "";
  display: block;
  width: -webkit-fill-available;
  height: 2px;
  background-color: $color_yellow;
}

