.section__if__you__want {
  // position: relative;
  background-color: $color_yellow;
  overflow: hidden;
}

.wrapper__for__mobile {
  position: relative;
  width: 100%;
  height: 90%;
  // bottom: 0;
  top: 40px;
}

.if__you__want__title {
  height: 100vh;
}

.if__you__want__top {
  position: relative; 
  display: flex;
  justify-content: center;
  padding-top: 120px;
  
  @include mobile-width {
    padding-top: 14vh;
  }
}

.if__you__want__top__vector {
  position: relative;
}

.vector__stars, .vector__moon {
  position: absolute;
  opacity: 1;
  right: 800px;
}

.vector__stars {
  bottom: 320px;
  
  @include media-tablet {
    bottom: 340px;
    width: 126px;
  }
  @include mobile-width {
    display: none;
  }
}

.vector__moon {
  top: -65px;

  @include min-content-width {
    width: 280px;
  }
  @include media-tablet {
    width: 200px;
  }
  @include mobile-width {
    display: none;
  }
}

.if__you__want__buttom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 151px;  
  gap: 72px;

  @include media-content {
    gap: 56px;
  }
  @include min-content-width {
    margin-top: 100px;
  }
  @include mobile-width {
    position: relative;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    margin-top: 10vh;
    bottom: 0px;  

    div {
      margin-top: 10vh;
    }
  }
}

.eyes {
  margin-top: -60px;
  
  @include media-content {
    width: 562px;
  }
  @include min-content-width {
    width: 462px;
    margin-top: 0;
  }
  @include media-tablet {
    max-width: 292px;
  }
  @include mobile-width {
    position: absolute;
    top: 35vh;
    width: 80vw;
    display: block;
    opacity: 1;
  }
}

.if__you__want__buttom__two, .if__you__want__buttom__three, .if__you__want__buttom__four {
  position: relative;
  opacity: 0;
}

// .if__you__want__buttom__two {
// }

.if__you__want__buttom__three {
  @include min-content-width {
    bottom: 55px;
  }
  @include media-tablet {
    top: 34px;
  }
  @include mobile-width {
    top: 20px;
  }
}

.if__you__want__buttom__four {
  @include min-content-width {
    bottom: 75px;
  }
  @include media-tablet {
    top: 76px;
  }
  @include mobile-width {
    top: 40px;
  }
}

.it__is__me {
  display: flex;
  position: relative;
}

.it__is__me__title {
  position: absolute;
  right : 173px;
  top: 50%;
  
  @include media-content {
    right : 95px;
  }
  @include min-content-width {
    right: 29px;
  }
}


.it__is__me__foto {
  position: relative;
  margin-top: 34px;
  transform-origin: bottom;
  bottom: 0;
  
  @include media-content {
    transform-origin: left bottom;
    scale: 0.9;
  }
  @include min-content-width {
    scale: 0.8;
  }
  @include media-tablet {
    right: 100px;
    z-index: 2;
  }
  @include mobile-width {
    // width: 100vw;
    right: 0;
    margin-top: 70vh;
    height: 100vw;
  }
}

.it__is__me__star {
  position: relative;
  margin-left: 75px;
  margin-bottom: 79px;
  
  @include media-content {
    transform-origin: left bottom;
    scale: 0.9;
    margin-left: 0;
  }
  @include min-content-width {
    right: 18vw;
  }
  @include media-tablet {
    scale: 0.5;
    bottom: 100px;
    right: 32vw;
  }
  @include mobile-width {
    scale: 1;
    height: 30vw;
    // bottom: -34vh;
    top: 50vh;
    right: 61vw;

  }
}