.how__we__work {
  height: 100vh;
  background-image: url('../images/background-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.how__we__work__title {
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -320px;
  text-align: center;
  color: $color_white;
  white-space: nowrap;

  @include media-4k {
    left: 50%;
    margin-left: -320px;
  }

  @include min-content-width {
    top: 60px;
  }

  @include media-tablet {
    margin-left: -170px;

  }

  @include mobile-width {
    top: 20vh;
    font-size: 30px;
  }
}

.how__we__work__not {
  position: relative;
  color: $color_white;
  font-size: 80px;
  top: calc(var(--index)*10);
  left: calc(var(--index)*7);

  @include media-content {
    top: calc(var(--index) * 12);
    left: calc(var(--index) * 12);
  }

  @include media-tablet {
    top: calc(var(--index) * 22);
    font-size: 50px;
  }

  @include mobile-width {
    top: 40vh;
  }
}

.tablet {
  display: none;

  @include media-tablet {
    display: block;
  }
}

.content {
  @include media-tablet {
    display: none;
  }
}

.how__we__work__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  vertical-align: bottom;
  bottom: 0;
  height: 100%;

  @include mobile-width {
    flex-direction: column;
    justify-content: space-between;
  }

  h4 {
    color: $color_white;
  }
}

.how__we__work__text {
  display: grid;
  max-width: 640px;
  width: auto;
  align-content: space-between;

  @include media-content {
    max-width: 562px;
  }

  @include min-content-width {
    max-width: 450px;
  }

  @include mobile-width {
    height: 100%;
    max-width: 100%;
  }
}


.text_grid_row {
  grid-row: 1;
  grid-column: 1;
  padding-top: 16vh;
}

.text_grid_row_3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  @include mobile-width {
    height: auto;
  }
}

.price {
  position: relative;
  width: 100%;
  bottom: 14vh;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  min-width: 402px;

  @include min-content-width {
    bottom: 50px;

    h2 {
      font-size: 50px;
    }
  }

  @include media-tablet {
    min-width: 302px;

    h2 {
      font-size: 38px;
    }
  }

  @include mobile-width {
    bottom: -17vh;
    min-width: auto;

    h2 {
      font-size: 32px;
    }
  }

  h2 {
    color: $color_text;
    text-transform: none;
  }
}

.price__sum {
  display: flex;
  justify-content: space-between;
}

.text_margin {
  margin-top: 64px;

  @include mobile-width {
    margin-top: 16px;
  }
}

.how__we__work__img {
  // width: 45vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: end;
  justify-items: center;
  position: relative;
  // left: 20px;

  @include mobile-width {
    justify-items: end;
    bottom: 0;
    left: auto;
    width: auto;
  }
}

.train {
  position: relative;
  transform-origin: bottom right;
  grid-column: 1/1;
  grid-row: 1;
  width: 45vw;
  max-width: 730px;
  left: 2vw;

  @include mobile-width {
    width: 66vw;
    scale: 1;
    bottom: 0;
    left: 10px;
    top: 10px;
  }
}

.astronaut {
  position: relative;
  grid-row: 1;
  grid-column: 1/1;
  z-index: 2;
  right: 25%;
  height: 90%;
  max-height: 460px;

  @include media-content {
    height: auto;
    right: 13vw;
    width: 30vw;
  }

  @include min-content-width {}

  @include media-tablet {
    right: 50px;
  }

  @include mobile-width {
    width: 60vw;
    right: 30vw;
  }
}

.stars__the__end {
  grid-row: 1;
  grid-column: 1/1;
  position: relative;
  top: -41vh;

  @include media-content {
    width: 40vw;
    transform-origin: top right;
  }

  @include media-tablet {
    top: -191px;
  }

  @include mobile-width {
    right: auto;
    left: 33px;
    bottom: 40%;
  }
}

.blue__planet {
  grid-row: 1;
  grid-column: 1/1;
  position: relative;
  top: -30vh;
  justify-self: center;

  @include min-content-width {
    width: auto;
  }

  @include media-tablet {
    width: 38vw;
    bottom: 115px;
    top: auto;
    align-self: center;
  }

  @include mobile-width {
    left: auto;
    left: 30%;
    bottom: 0;
    top: 55%;
    width: 70vw;
  }
}

.call__my__box {
  position: relative;
  display: block;
  width: 38vw;
  max-width: 490px;
  grid-row: 1;
  grid-column: 1/1;
  margin-bottom: 14vh;
  cursor: pointer;
  z-index: 150;

  @include min-content-width {
    margin-bottom: 58px;
  }

  @include mobile-width {
    margin-bottom: 10vh;
    width: 300px;
    justify-self: center;
  }
}

.call__my {
  height: 100%;
  color: $color_yellow;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  z-index: 150;

  h2 {
    color: $color_yellow;
    margin: 25px 0 18px;

    @include media-tablet {
      margin: 25px 0 9px;
    }
  }
}

.call__my:after,
.call__my:before {
  align-items: center;
  position: absolute;
  content: "";
  display: block;
  width: -webkit-fill-available;
  height: 2px;
  background-color: $color_yellow;
}