// transform-origin: center top 0;
// transform: rotate(60deg)
*{
  margin: 0;
  padding: 0;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  box-sizing: border-box;
}

.z10 {
  position: relative;
  z-index: 10;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  width: 1320px;
  margin: auto;
}

.main {
  height: 4000px;
  width: 1440px;
}

.main {
  overflow: hidden;
  background-color: $color_white;
}

.who-what-first {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 73px;
  padding-top: 120px;
}

.who-what-first-top {
  display: flex;
  gap: 52px;  
}

.who-what-first-top-left, .who-what-first-top-right, .who-what-second-bottom {
    h2 {
      font-family: 'Yanone Kaffeesatz';
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 60px;
      text-transform: uppercase;
    }

    h4 {
      width: 624px;
      margin-top: 16px;
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 29px;
    }
}

.who-what-first-top-right {
  margin-left: 20px;
}

.who-what-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 73px;
  padding-top: 400px;
}

.who-what-second-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.back-dlue, .back-yellow {
  position: relative;
  z-index: 2;
  width: 2000px;
  height: 2000px;
  bottom: 1000px;
  border-radius: 100%;
}
.back-dlue {
  background-color: $color_text;
}

.back-yellow {
background-color: $color_yellow;
}