$color_text: #98E9FF;
$color_yellow: #FFCE7D;
$color_white: #E9E9E9;

$content-width: 1280px;
$min-content-width: 1200px;
$tablet-width: 768px;
// $mobile-width: 760px;
$mobile-small-width: 460px;

@mixin media-content {
    @media (max-width: $content-width) { @content; }
}
@mixin min-content-width {
    @media (max-width: $min-content-width) { @content; }
}
@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}
@mixin media-mobilsmall {
    @media (max-width: $mobile-small-width) { @content; }
}