$color_text: #98E9FF;
$color_yellow: #FFCE7D;
$color_white: #E9E9E9;


$width-4k: 1700px;
$content-width: 1280px;
$min-content-width: 1200px;
$tablet-width: 868px;
$mobile-width: 560px;

@mixin media-4k {
  @media (min-width: $width-4k) {
    @content;
  }
}

@mixin media-content {
  @media (max-width: $content-width) {
    @content;
  }
}

@mixin min-content-width {
  @media (max-width: $min-content-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin mobile-width {
  @media (max-width: $mobile-width) {
    @content;
  }
}