*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  
  // border: 1px solid #f0f;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px 0 96px;
}

.z10 {
  z-index: 10;
}
  
h2 {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
}

h4 {
  width: 624px;
  margin-top: 16px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
}