@font-face {
  font-family: 'Roboto-Slab';
  src: url('../fonts/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Yanone-Kaffeesatz-ExtraLight';
  src: url('../fonts/YanoneKaffeesatz-VariableFont_wght.ttf');
}