@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto-Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: currentColor;
}

section {
  scroll-padding-top: 80px;
}

:root {
  --index: calc(1vw + 1vh);
}

.main {
  background-color: #E9E9E9;
  overflow: hidden;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px 0 96px;
}
@media (max-width: 1280px) {
  .wrapper {
    padding: 0 24px 0 77px;
  }
}
@media (max-width: 868px) {
  .wrapper {
    max-width: 100vw;
    padding: 0 8px 0 24px;
  }
}

.z10 {
  z-index: 10;
}

h1,
h2,
h5 {
  font-family: "Yanone-Kaffeesatz-ExtraLight";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  h1,
  h2,
  h5 {
    font-size: 55px;
  }
}
@media (max-width: 868px) {
  h1,
  h2,
  h5 {
    font-size: 34px;
    line-height: normal;
  }
}
@media (max-width: 560px) {
  h1,
  h2,
  h5 {
    font-size: 33px;
  }
}

h3,
h4 {
  font-family: "Roboto-Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
}
@media (max-width: 1200px) {
  h3,
  h4 {
    font-size: 19px;
  }
}
@media (max-width: 868px) {
  h3,
  h4 {
    font-size: 14px;
    line-height: normal;
  }
}

.overflow {
  overflow: hidden;
}

.wrapper__for__img {
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
}

@font-face {
  font-family: "Roboto-Slab";
  src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Yanone-Kaffeesatz-ExtraLight";
  src: url("../fonts/YanoneKaffeesatz-VariableFont_wght.ttf");
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #98E9FF;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #FFCE7D;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.header {
  height: 700px;
  background-image: url("../images/background-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 868px) {
  .header {
    height: 860px;
  }
}
@media (max-width: 560px) {
  .header {
    height: 570px;
  }
}

.spase {
  display: inline-block;
  width: 1%;
}

.wrapper__navbar {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 560px) {
  .wrapper__navbar {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.header__left__blok {
  z-index: 6;
}
@media (max-width: 560px) {
  .header__left__blok {
    height: 570px;
    z-index: 1;
  }
}

.header__right__blok {
  display: flex;
  height: 700px;
  width: 100%;
}
@media (max-width: 560px) {
  .header__right__blok {
    height: auto;
  }
}

.title {
  margin-top: 7vh;
  min-width: 550px;
}
@media (max-width: 1280px) {
  .title {
    margin-top: 56px;
    min-width: 0;
  }
}
@media (max-width: 868px) {
  .title {
    position: relative;
    width: 292px;
    min-width: auto;
    margin-top: auto;
    top: 382px;
  }
}
.title h1,
.title h2 {
  color: #E9E9E9;
  font-size: 80px;
  line-height: normal;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 1280px) {
  .title h1,
  .title h2 {
    font-size: 70px;
  }
}
@media (max-width: 868px) {
  .title h1,
  .title h2 {
    font-size: 46px;
    text-align: center;
  }
}
@media (max-width: 560px) {
  .title h1,
  .title h2 {
    font-size: 42px;
  }
}
.title h2 {
  margin-top: 0;
}
.title h3 {
  width: 80%;
  min-width: 500px;
  margin-top: 20px;
  color: #98E9FF;
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;
  white-space: nowrap;
}
@media (max-width: 1280px) {
  .title h3 {
    min-width: 450px;
    margin-top: 12px;
    font-size: 20px;
    line-height: normal;
  }
}
@media (max-width: 868px) {
  .title h3 {
    width: auto;
    min-width: auto;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }
}

.header__right__blok,
.heder__img,
.heder-stars-box,
.stars {
  position: relative;
}

.kye__box {
  height: 545px;
  position: absolute;
  transform-origin: center top;
  z-index: 3;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .kye__box {
    left: 0;
  }
}
@media (max-width: 868px) {
  .kye__box {
    top: 100px;
    left: 50px;
  }
}
@media (max-width: 560px) {
  .kye__box {
    position: absolute;
    left: auto;
    right: 7vw;
    top: -159px;
    z-index: 10;
  }
}

.kye__img {
  height: 100%;
}
@media (max-width: 1280px) {
  .kye__img {
    height: 90%;
  }
}
.moon {
  position: absolute;
  width: 25vw;
  max-width: 351px;
  top: 24px;
  left: 65px;
  transform-origin: top left;
  z-index: 2;
}
@media (max-width: 1280px) {
  .moon {
    top: 18px;
    left: 11px;
  }
}
@media (max-width: 1200px) {
  .moon {
    width: 30vw;
    left: auto;
    right: 142px;
  }
}
@media (max-width: 868px) {
  .moon {
    top: -45px;
    left: 40px;
    width: 516px;
    max-width: none;
    z-index: 4;
  }
}
@media (max-width: 560px) {
  .moon {
    right: 166px;
    top: -150px;
    left: auto;
    width: 409px;
  }
}

.women {
  position: absolute;
  width: 358px;
  height: 327px;
  top: 334px;
  right: 47px;
}
@media (max-width: 1280px) {
  .women {
    right: 105px;
    width: 24vw;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 1200px) {
  .women {
    width: 280px;
    right: 0;
    top: 381px;
  }
}
@media (max-width: 868px) {
  .women {
    top: 586px;
  }
}
@media (max-width: 560px) {
  .women {
    left: 0;
  }
}
@media (max-width: 560px) {
  .women {
    display: none;
    left: 20px;
  }
}

.field {
  position: relative;
  width: auto;
  height: 240px;
  bottom: 240px;
  float: right;
}
@media (max-width: 1200px) {
  .field {
    left: 170px;
  }
}
@media (max-width: 868px) {
  .field {
    bottom: 0;
    left: 100px;
  }
}
@media (max-width: 560px) {
  .field {
    display: none;
  }
}

.stars:hover {
  scale: 1.2;
}

.heder__stars__box {
  position: absolute;
  top: -10px;
  right: 17px;
  z-index: 1;
}
@media (max-width: 1280px) {
  .heder__stars__box {
    scale: 0.9;
    right: 0;
    top: 12px;
    transform-origin: top right;
  }
}
@media (max-width: 868px) {
  .heder__stars__box {
    display: none;
  }
}

.heder__stars__box__table {
  display: none;
  transform: rotateY(180deg);
}
@media (max-width: 868px) {
  .heder__stars__box__table {
    display: block;
    position: absolute;
    top: 303px;
    left: 0;
    scale: 0.8;
  }
}
@media (max-width: 560px) {
  .heder__stars__box__table {
    top: 100px;
  }
}

.stars_0 {
  left: 198px;
  top: 103px;
}
@media (max-width: 560px) {
  .stars_0 {
    left: 121px;
    top: 179px;
    rotate: 321deg;
  }
}

.stars_1 {
  left: 221px;
  top: 159px;
}
@media (max-width: 560px) {
  .stars_1 {
    left: 4px;
    top: 118px;
    rotate: 120deg;
  }
}

.stars_2 {
  left: 251px;
  top: 70px;
}

.stars_3 {
  left: 255px;
  top: 91px;
}

.stars_4 {
  left: 219px;
  top: -5px;
}

.stars_5 {
  left: 219px;
  top: 123px;
}

.stars_6 {
  left: 219px;
  top: -34px;
}

.stars_7 {
  left: 196px;
  top: -13px;
}

.stars_8 {
  left: 36px;
  top: 58px;
}
@media (max-width: 560px) {
  .stars_8 {
    left: 59px;
    top: 126px;
  }
}

.stars_9 {
  left: 83px;
  top: 35px;
}

.stars_10 {
  left: -119px;
  top: 197px;
}
@media (max-width: 560px) {
  .stars_10 {
    left: -144px;
    top: 185px;
  }
}

.stars_11 {
  left: -39px;
  top: 110px;
}

.stars_12 {
  left: -27px;
  top: 199px;
}
@media (max-width: 560px) {
  .stars_12 {
    left: -212px;
    top: 41px;
  }
}

@media (max-width: 560px) {
  .stars_2,
  .stars_3,
  .stars_4,
  .stars_5,
  .stars_6,
  .stars_7,
  .stars_9,
  .stars_11 {
    display: none;
  }
}

.stars {
  position: relative;
  opacity: 0;
  transition: 0.3s;
}

.nav__bar {
  position: relative;
  top: 14px;
  color: #98E9FF;
  width: 504px;
}
@media (max-width: 1280px) {
  .nav__bar {
    width: 50vw;
  }
}
@media (max-width: 560px) {
  .nav__bar {
    display: none;
  }
}

.nav__li,
.nav__li_burger {
  height: 45px;
  position: relative;
  cursor: pointer;
  padding: 12px 0;
  list-style-type: none;
}
.nav__li a,
.nav__li_burger a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #98E9FF;
}
@media (max-width: 560px) {
  .nav__li,
  .nav__li_burger {
    height: 41px;
  }
}

.nav__li:not(:last-child)::after,
.nav__li_burger:not(:last-child)::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  max-width: 524px;
  height: 2px;
  bottom: 0;
  background-color: #E9E9E9;
  transition: 0.3s;
}

.nav__li_burger:not(:last-child)::after {
  width: 250px;
}

.nav__li:hover:after {
  width: 105%;
}

.nav__li_burger:hover:after {
  width: 260px;
}

.nav__li:hover a,
.nav__li_burger:hover a {
  transition: 0.5s;
  font-size: 19px;
}

.section__who__what {
  height: 1900px;
  overflow: hidden;
}

.who__what__first {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 52px;
}
@media (max-width: 1280px) {
  .who__what__first {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 56px;
  }
  .who__what__first h2 {
    white-space: nowrap;
    font-size: 50px;
  }
  .who__what__first h4 {
    margin-top: 17px;
    font-size: 21px;
  }
}
@media (max-width: 868px) {
  .who__what__first {
    gap: 24px;
  }
  .who__what__first h2 {
    font-size: 36px;
    line-height: normal;
  }
  .who__what__first h4 {
    margin-top: 16px;
    font-size: 16px;
    line-height: normal;
  }
}
@media (max-width: 560px) {
  .who__what__first {
    flex-direction: column;
    gap: 14vh;
    padding-top: 10vh;
  }
  .who__what__first h2 {
    font-size: 33px;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .who__what__first h4 {
    font-size: 15px;
  }
}

.who__what__first__top__right,
.who__what__first__top__left {
  width: 100%;
}

@media (max-width: 1200px) {
  .who__what__first__top__left_title {
    display: none;
  }
}

.who__what__first__top__left_title_mobile {
  display: none;
}
@media (max-width: 1200px) {
  .who__what__first__top__left_title_mobile {
    display: block;
  }
}

.who__what__second__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 300px;
}

.who__what__three {
  padding-top: 200px;
}

.back__dlue, .back__yellow {
  z-index: 2;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.back__dlue {
  background-color: #98E9FF;
}

.back__yellow {
  background-color: #FFCE7D;
}

@media (max-width: 868px) {
  .back__dlue,
  .back__yellow {
    position: relative;
    left: 50vw;
    top: 300px;
  }
}

.section__if__you__want {
  background-color: #FFCE7D;
  overflow: hidden;
}

.wrapper__for__mobile {
  position: relative;
  width: 100%;
  height: 90%;
  min-height: 600px;
  top: 114px;
}
@media (max-width: 560px) {
  .wrapper__for__mobile {
    top: auto;
  }
}

.if__you__want__title {
  height: 100vh;
}

.if__you__want__top {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
@media (max-width: 560px) {
  .if__you__want__top {
    padding-top: 14vh;
  }
}

.if__you__want__top__vector {
  position: relative;
}

.vector__stars,
.vector__moon {
  position: absolute;
  opacity: 1;
  right: 800px;
}

.vector__stars {
  bottom: 320px;
}
@media (max-width: 868px) {
  .vector__stars {
    bottom: 340px;
    width: 126px;
  }
}
@media (max-width: 560px) {
  .vector__stars {
    display: none;
  }
}

.vector__moon {
  top: -65px;
}
@media (max-width: 1200px) {
  .vector__moon {
    width: 280px;
  }
}
@media (max-width: 868px) {
  .vector__moon {
    width: 200px;
  }
}
@media (max-width: 560px) {
  .vector__moon {
    display: none;
  }
}

.if__you__want__buttom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 151px;
  gap: 72px;
}
@media (max-width: 1280px) {
  .if__you__want__buttom {
    gap: 56px;
  }
}
@media (max-width: 1200px) {
  .if__you__want__buttom {
    margin-top: 10vh;
  }
}
@media (max-width: 868px) {
  .if__you__want__buttom {
    gap: 20px;
  }
}
@media (max-width: 560px) {
  .if__you__want__buttom {
    position: relative;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    margin-top: 10vh;
    bottom: 0px;
  }
}

.if__you__want__buttom__text {
  max-width: 70vw;
  display: grid;
}

.eyes {
  margin-top: -60px;
}
@media (max-width: 1280px) {
  .eyes {
    width: 562px;
  }
}
@media (max-width: 1200px) {
  .eyes {
    width: 50%;
    margin-top: 0;
  }
}
@media (max-width: 868px) {
  .eyes {
    max-width: 292px;
  }
}
@media (max-width: 560px) {
  .eyes {
    position: absolute;
    top: 35vh;
    width: 80vw;
    display: block;
  }
}

.eyes__off {
  display: none;
}

.if__you__want__buttom__one {
  grid-row: 1;
  grid-column: 1;
}

.if__you__want__buttom__two,
.if__you__want__buttom__three,
.if__you__want__buttom__four {
  position: relative;
  opacity: 1;
  grid-row: 1;
  grid-column: 1;
}

.it__is__me {
  height: 100vh;
  min-height: 600px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.it__is__me__title {
  position: absolute;
  bottom: 45vh;
  right: 10vw;
}
@media (max-width: 1280px) {
  .it__is__me__title {
    right: 95px;
  }
}
@media (max-width: 560px) {
  .it__is__me__title {
    bottom: 80vh;
    right: 10vw;
  }
}

.it__is__me__foto {
  position: relative;
  margin-top: 34px;
  transform-origin: bottom;
  bottom: 0;
  z-index: 1;
  height: auto;
}
@media (max-width: 1280px) {
  .it__is__me__foto {
    width: 50vw;
  }
}
@media (max-width: 1200px) {
  .it__is__me__foto {
    width: 50vw;
  }
}
@media (max-width: 868px) {
  .it__is__me__foto {
    z-index: 2;
  }
}
@media (max-width: 560px) {
  .it__is__me__foto {
    right: 0;
    margin-top: 0;
    width: 100vw;
  }
}

.it__is__me__star {
  position: absolute;
  right: 5vw;
  bottom: 10vh;
}
@media (max-width: 1280px) {
  .it__is__me__star {
    transform-origin: left bottom;
    right: -60px;
  }
}
@media (max-width: 1200px) {
  .it__is__me__star {
    width: 50vw;
  }
}
@media (max-width: 868px) {
  .it__is__me__star {
    width: 15vw;
    bottom: 300px;
    right: 30vw;
  }
}
@media (max-width: 560px) {
  .it__is__me__star {
    width: 30vw;
    bottom: 70vh;
    right: 21vw;
  }
}

.how__we__work {
  height: 100vh;
  background-image: url("../images/background-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.how__we__work .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.how__we__work__title {
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -320px;
  text-align: center;
  color: #E9E9E9;
  white-space: nowrap;
}
@media (min-width: 1700px) {
  .how__we__work__title {
    left: 50%;
    margin-left: -320px;
  }
}
@media (max-width: 1200px) {
  .how__we__work__title {
    top: 60px;
  }
}
@media (max-width: 868px) {
  .how__we__work__title {
    margin-left: -170px;
  }
}
@media (max-width: 560px) {
  .how__we__work__title {
    top: 20vh;
    font-size: 30px;
  }
}

.how__we__work__not {
  position: relative;
  color: #E9E9E9;
  font-size: 80px;
  top: calc(var(--index) * 10);
  left: calc(var(--index) * 7);
}
@media (max-width: 1280px) {
  .how__we__work__not {
    top: calc(var(--index) * 12);
    left: calc(var(--index) * 12);
  }
}
@media (max-width: 868px) {
  .how__we__work__not {
    top: calc(var(--index) * 22);
    font-size: 50px;
  }
}
@media (max-width: 560px) {
  .how__we__work__not {
    top: 40vh;
  }
}

.tablet {
  display: none;
}
@media (max-width: 868px) {
  .tablet {
    display: block;
  }
}

@media (max-width: 868px) {
  .content {
    display: none;
  }
}

.how__we__work__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  vertical-align: bottom;
  bottom: 0;
  height: 100%;
}
@media (max-width: 560px) {
  .how__we__work__content {
    flex-direction: column;
    justify-content: space-between;
  }
}
.how__we__work__content h4 {
  color: #E9E9E9;
}

.how__we__work__text {
  display: grid;
  max-width: 640px;
  width: auto;
  align-content: space-between;
}
@media (max-width: 1280px) {
  .how__we__work__text {
    max-width: 562px;
  }
}
@media (max-width: 1200px) {
  .how__we__work__text {
    max-width: 450px;
  }
}
@media (max-width: 560px) {
  .how__we__work__text {
    height: 100%;
    max-width: 100%;
  }
}

.text_grid_row {
  grid-row: 1;
  grid-column: 1;
  padding-top: 16vh;
}

.text_grid_row_3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
@media (max-width: 560px) {
  .text_grid_row_3 {
    height: auto;
  }
}

.price {
  position: relative;
  width: 100%;
  bottom: 14vh;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  min-width: 402px;
}
@media (max-width: 1200px) {
  .price {
    bottom: 50px;
  }
  .price h2 {
    font-size: 50px;
  }
}
@media (max-width: 868px) {
  .price {
    min-width: 302px;
  }
  .price h2 {
    font-size: 38px;
  }
}
@media (max-width: 560px) {
  .price {
    bottom: -17vh;
    min-width: auto;
  }
  .price h2 {
    font-size: 32px;
  }
}
.price h2 {
  color: #98E9FF;
  text-transform: none;
}

.price__sum {
  display: flex;
  justify-content: space-between;
}

.text_margin {
  margin-top: 64px;
}
@media (max-width: 560px) {
  .text_margin {
    margin-top: 16px;
  }
}

.how__we__work__img {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: end;
  justify-items: center;
  position: relative;
}
@media (max-width: 560px) {
  .how__we__work__img {
    justify-items: end;
    bottom: 0;
    left: auto;
    width: auto;
  }
}

.train {
  position: relative;
  transform-origin: bottom right;
  grid-column: 1/1;
  grid-row: 1;
  width: 45vw;
  max-width: 730px;
  left: 2vw;
}
@media (max-width: 560px) {
  .train {
    width: 66vw;
    scale: 1;
    bottom: 0;
    left: 10px;
    top: 10px;
  }
}

.astronaut {
  position: relative;
  grid-row: 1;
  grid-column: 1/1;
  z-index: 2;
  right: 25%;
  height: 90%;
  max-height: 460px;
}
@media (max-width: 1280px) {
  .astronaut {
    height: auto;
    right: 13vw;
    width: 30vw;
  }
}
@media (max-width: 868px) {
  .astronaut {
    right: 50px;
  }
}
@media (max-width: 560px) {
  .astronaut {
    width: 60vw;
    right: 30vw;
  }
}

.stars__the__end {
  grid-row: 1;
  grid-column: 1/1;
  position: relative;
  top: -41vh;
}
@media (max-width: 1280px) {
  .stars__the__end {
    width: 40vw;
    transform-origin: top right;
  }
}
@media (max-width: 868px) {
  .stars__the__end {
    top: -191px;
  }
}
@media (max-width: 560px) {
  .stars__the__end {
    right: auto;
    left: 33px;
    bottom: 40%;
  }
}

.blue__planet {
  grid-row: 1;
  grid-column: 1/1;
  position: relative;
  top: -30vh;
  justify-self: center;
}
@media (max-width: 1200px) {
  .blue__planet {
    width: auto;
  }
}
@media (max-width: 868px) {
  .blue__planet {
    width: 38vw;
    bottom: 115px;
    top: auto;
    align-self: center;
  }
}
@media (max-width: 560px) {
  .blue__planet {
    left: auto;
    left: 30%;
    bottom: 0;
    top: 55%;
    width: 70vw;
  }
}

.call__my__box {
  position: relative;
  display: block;
  width: 38vw;
  max-width: 490px;
  grid-row: 1;
  grid-column: 1/1;
  margin-bottom: 14vh;
  cursor: pointer;
  z-index: 150;
}
@media (max-width: 1200px) {
  .call__my__box {
    margin-bottom: 58px;
  }
}
@media (max-width: 560px) {
  .call__my__box {
    margin-bottom: 10vh;
    width: 300px;
    justify-self: center;
  }
}

.call__my {
  height: 100%;
  color: #FFCE7D;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  z-index: 150;
}
.call__my h2 {
  color: #FFCE7D;
  margin: 25px 0 18px;
}
@media (max-width: 868px) {
  .call__my h2 {
    margin: 25px 0 9px;
  }
}

.call__my:after,
.call__my:before {
  align-items: center;
  position: absolute;
  content: "";
  display: block;
  width: -webkit-fill-available;
  height: 2px;
  background-color: #FFCE7D;
}

.reviews {
  height: 100vh;
  min-height: 650px;
  background-color: #98E9FF;
  overflow: hidden;
}
.reviews .wrapper {
  display: flex;
  justify-content: center;
}

.price__stars {
  position: absolute;
  height: 22vw;
  max-height: 300px;
  margin-top: calc(var(--index) * 2);
}
@media (max-width: 1280px) {
  .price__stars {
    transform-origin: top;
    right: 10px;
  }
}

.price__stars__right {
  right: 25px;
}
@media (max-width: 560px) {
  .price__stars__right {
    display: none;
  }
}

.price__stars_top {
  left: 70px;
  top: calc(var(--index) * 1);
}
@media (max-width: 560px) {
  .price__stars_top {
    top: auto;
    height: 26vh;
    left: 20px;
  }
}

.reviews__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12vh;
  z-index: 100;
}
@media (max-width: 868px) {
  .reviews__content {
    padding-top: 6vh;
  }
}
@media (max-width: 560px) {
  .reviews__content {
    padding-top: 25vh;
    left: auto;
    width: 88vw;
  }
}
.reviews__content h2 {
  text-align: center;
}
@media (max-width: 1280px) {
  .reviews__content h2 {
    font-size: 55px;
  }
}
@media (max-width: 868px) {
  .reviews__content h2 {
    font-size: 32px;
  }
}
.reviews__content h4 {
  width: 90%;
}
@media (max-width: 1280px) {
  .reviews__content h4 {
    line-height: 27px;
  }
}
@media (max-width: 868px) {
  .reviews__content h4 {
    font-size: 16px;
    line-height: normal;
  }
}
.reviews__content h5 {
  margin-top: 25px;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  text-align: right;
  text-transform: none;
}

.carusel__wrapper {
  display: block;
  align-items: center;
  gap: 90px;
  margin-top: 44px;
  max-width: 1186px;
}

.main-slider {
  position: relative;
  display: flex;
}

.card {
  position: relative;
  height: 442px;
  max-width: 220px;
  background-image: url(../../images/otzov/phone_14_01.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 1280px) {
  .card {
    height: 400px;
    max-width: 200px;
  }
}

.card__screen {
  display: block;
  height: 90%;
  width: 90%;
  overflow: hidden;
  padding-top: 28px;
  margin-left: auto;
  margin-right: auto;
}

.card__img {
  width: 100%;
}

.slick-slide div {
  text-align: center;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  width: 974px;
}
@media (max-width: 1280px) {
  .slick-list {
    width: 722px;
  }
}
@media (max-width: 1200px) {
  .slick-list {
    width: 430px;
  }
}
@media (max-width: 560px) {
  .slick-list {
    width: 200px;
  }
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Стрелка */
.slick-arrow {
  position: absolute;
  top: calc(50% - 40px);
  z-index: 10;
  font-size: 0;
  width: 19px;
  height: 35px;
  border: none;
  cursor: pointer;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: -111px;
  background: url(../../images/Arrow1.svg) 0 0/100% no-repeat;
}
@media (max-width: 1200px) {
  .slick-arrow.slick-prev {
    left: -60px;
  }
}
@media (max-width: 868px) {
  .slick-arrow.slick-prev {
    left: -40px;
  }
}

.slick-sr-only {
  font-size: 0;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: -111px;
  background: url(../../images/Arrow.svg) 0 0/100% no-repeat;
}
@media (max-width: 1200px) {
  .slick-arrow.slick-next {
    right: -60px;
  }
}
@media (max-width: 868px) {
  .slick-arrow.slick-next {
    right: -40px;
  }
}

/* Стрелка не активная */
.education {
  height: 100vh;
  min-height: 600px;
  background-image: url("../images/background-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.education h2 {
  padding-top: calc(var(--index) * 3);
  text-align: center;
  color: #E9E9E9;
}

.education__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #98E9FF;
}

.education__text {
  position: relative;
  margin-top: 7vh;
  max-width: 624px;
}
.education__text h3,
.education__text span {
  position: relative;
  margin-top: 6vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
@media (max-width: 868px) {
  .education__text h3,
  .education__text span {
    font-size: 14px;
    line-height: normal;
  }
}
@media (max-width: 560px) {
  .education__text h3,
  .education__text span {
    font-size: 12px;
  }
}
@media (max-width: 1280px) {
  .education__text {
    max-width: 568px;
  }
}
@media (max-width: 1200px) {
  .education__text {
    max-width: 48vw;
  }
}
@media (max-width: 560px) {
  .education__text {
    max-width: none;
  }
}

.education__foto {
  position: relative;
  transition: 0.5s;
  width: 100%;
  top: 10vh;
}
@media (max-width: 560px) {
  .education__foto {
    position: absolute;
  }
}

.education__star {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 550px;
}
@media (max-width: 1200px) {
  .education__star {
    height: calc(var(--index) * 22);
    max-width: none;
  }
}
@media (max-width: 868px) {
  .education__star {
    height: auto;
    left: 60vw;
  }
}
@media (max-width: 560px) {
  .education__star {
    display: none;
  }
}

.diplom {
  position: absolute;
  cursor: pointer;
  transition: 0.5s;
  z-index: 15;
}

.teacher_education,
.retraining_course,
.retraining,
.thinking {
  color: #FFCE7D;
  cursor: pointer;
}

.off {
  display: none;
  transition: 0.5s;
}

@media (max-width: 560px) {
  .on__mobile {
    display: block;
    transition: 0.5s;
  }
}

.right_0 {
  left: 10%;
  width: 40vw;
  max-width: 600px;
  right: 2vw;
  bottom: 0;
}
@media (max-width: 1200px) {
  .right_0 {
    right: auto;
    bottom: 25vh;
    max-height: 40vh;
  }
}
@media (max-width: 560px) {
  .right_0 {
    left: 4%;
    width: 89vw;
    right: auto;
    bottom: auto;
    max-width: none;
    max-height: none;
  }
}

.center_diplom {
  width: 100%;
  text-align: center;
}
.center_diplom img {
  width: 33%;
}
@media (max-width: 1200px) {
  .center_diplom {
    top: 10%;
  }
  .center_diplom img {
    width: 50%;
  }
}
@media (max-width: 560px) {
  .center_diplom {
    max-width: none;
  }
}

.black__bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 11;
  transition: 0.5s;
}

.footer {
  background-color: #FFCE7D;
  overflow: hidden;
}

.footer__content {
  padding: 75px 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.footer__content h3 {
  width: auto;
  margin-top: 11vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
@media (max-width: 1200px) {
  .footer__content h3 {
    margin-top: 5vh;
    font-size: 12px;
    line-height: normal;
  }
}
@media (max-width: 560px) {
  .footer__content h3 {
    text-align: left;
  }
}
@media (max-width: 1200px) {
  .footer__content {
    padding: 30px 0;
  }
}
@media (max-width: 868px) {
  .footer__content {
    justify-content: space-between;
  }
}
@media (max-width: 560px) {
  .footer__content {
    flex-direction: column;
  }
}

.footer__left h2 {
  font-size: 48px;
  line-height: 48px;
}
@media (max-width: 868px) {
  .footer__left h2 {
    font-size: 36px;
    line-height: normal;
  }
}
@media (max-width: 560px) {
  .footer__left h2 {
    font-size: 30px;
  }
}
@media (max-width: 560px) {
  .footer__left h3 {
    display: none;
  }
}

.fooret__for__mobile {
  display: none;
}
@media (max-width: 560px) {
  .fooret__for__mobile {
    display: block;
  }
}

.footer__right {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__media {
  display: flex;
  gap: calc(var(--index) * 1.3);
}
.footer__media a {
  transition: all 0.3s;
}
.footer__media a:hover {
  scale: 1.2;
}

.footer__left {
  min-width: calc(var(--index) * 23);
}

.footer__right {
  min-width: calc(var(--index) * 17);
}

.footer__media__logo {
  height: 55px;
}
@media (max-width: 1200px) {
  .footer__media__logo {
    max-height: 42px;
  }
}

@media (max-width: 1200px) {
  .footer__logo {
    max-height: 66px;
  }
}
@media (max-width: 560px) {
  .footer__logo {
    margin-top: 10px;
  }
}

.left__panel__burger {
  display: flex;
  width: 100%;
  position: absolute;
  top: 734px;
}
@media (max-width: 868px) {
  .left__panel__burger {
    align-items: center;
    height: 60px;
    top: 884px;
  }
}
@media (max-width: 560px) {
  .left__panel__burger {
    top: 0;
  }
}

.left__panel__burger__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 133px;
  left: 0;
  bottom: 0;
  z-index: 20;
}
@media (max-width: 868px) {
  .left__panel__burger__wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 560px) {
  .left__panel__burger__wrapper {
    gap: 50px;
    flex-direction: row;
    justify-content: end;
    top: 0;
  }
}

.cell__me__left {
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
  transform: rotate(-90deg);
  left: -65px;
  transition: 0.3s;
  text-align: center;
}
@media (max-width: 1280px) {
  .cell__me__left {
    left: -78px;
  }
}
@media (max-width: 868px) {
  .cell__me__left {
    transform: none;
    right: 3vw;
    left: auto;
  }
}
@media (max-width: 560px) {
  .cell__me__left {
    display: none;
  }
}
.cell__me__left h3 {
  margin: 10px;
  font-size: 28px;
  line-height: 37px;
  transition: 0.3s;
}
@media (max-width: 868px) {
  .cell__me__left h3 {
    font-size: 16px;
    line-height: normal;
  }
}
.cell__me__left span {
  position: absolute;
  content: "";
  display: block;
  width: 240px;
  height: 2px;
  background-color: black;
  transition: 0.3s;
}
.cell__me__left span:nth-of-type(1) {
  top: 56px;
}
@media (max-width: 868px) {
  .cell__me__left span:nth-of-type(1) {
    top: 36px;
  }
}
@media (max-width: 868px) {
  .cell__me__left span {
    width: 140px;
  }
}

.cell__me__left :hover {
  scale: 1.02;
}

.menu__btn {
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 34px;
  overflow: hidden;
  cursor: pointer;
}
.menu__btn span {
  display: block;
  width: 28px;
  height: 2px;
  position: relative;
  background-color: #222222;
  transition: all 0.5s;
}
@media (max-width: 560px) {
  .menu__btn span {
    background-color: #E9E9E9;
  }
}
@media (max-width: 1280px) {
  .menu__btn {
    margin-left: 24px;
  }
}
@media (max-width: 560px) {
  .menu__btn {
    margin-left: auto;
    margin-right: 14px;
  }
}

.menu__btn span:nth-of-type(1) {
  top: calc(50% - 3px);
  transition-property: top, transform;
}

.menu__btn span:nth-of-type(2) {
  top: calc(50% + 3px);
  transition-property: bottom, transform;
}

.burger__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8901960784);
  transform: translateX(200%);
  transition: transform 0.5s;
  z-index: 111;
}

.burger__menu.active {
  transform: translateX(calc(100% - 300px));
}

.menu__btn.active span:nth-of-type(1) {
  transform: translate(0, 4px) rotate(45deg);
}

.menu__btn.active span:nth-of-type(2) {
  transform: translate(0, -4px) rotate(-45deg);
}/*# sourceMappingURL=index.css.map */