@import 'base/base';

@import 'abstracts/variables';

@import 'layout/footer';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/_section-who-want';
@import 'layout/_section-if-you-want';
@import 'layout/_section-how-we-work';

@import 'components/buttons';


@font-face {
  font-family: Robot-c;
  src: url(../../fonts/RobotoSlab-VariableFont_wght.ttf);
}
@font-face {
  font-family: Yanoe-c;
  src: url(../../fonts/YanoneKaffeesatz-VariableFont_wght.ttf);
}
