@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Yanone+Kaffeesatz:wght@700&display=swap");
.header {
  height: 700px;
  background-image: url("../images/background-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper__navbar {
  display: flex;
  align-items: flex-start;
}

.title {
  width: 520px;
}
.title h1, .title h2 {
  margin-top: 88px;
  color: #E9E9E9;
  font-family: "Yanone Kaffeesatz";
  font-size: 80px;
  line-height: 79px;
  text-transform: uppercase;
}
.title h2 {
  margin-top: 0;
}
.title h3 {
  margin-top: 20px;
  color: #98E9FF;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;
}

.header__right__blok, .heder__img, .heder-stars-box, .stars {
  position: relative;
}

.header__right__blok {
  display: flex;
  overflow: hidden;
  height: 700px;
}

.kye__box {
  position: relative;
  width: 95px;
  left: 95px;
  transform-origin: center top;
  z-index: 2;
}

.moon {
  width: 351px;
  height: 340px;
  top: 24px;
  left: 78px;
  transform-origin: top left;
}

.women {
  width: 358px;
  height: 327px;
  top: 334px;
  right: 117px;
}

.field {
  width: auto;
  height: 240px;
  bottom: 240px;
  float: right;
}

.stars {
  transition: 0.3s;
}

.stars:hover {
  scale: 1.2;
}

.heder__stars__box {
  width: 226px;
  height: 249px;
  top: 34px;
  left: 568px;
}

.stars {
  opacity: 0;
}

.stars_0 {
  left: 122px;
  top: 140px;
}

.stars_1 {
  left: 194px;
  top: 151px;
}

.stars_2 {
  left: 253px;
  top: 83px;
}

.stars_3 {
  left: 303px;
  top: 91px;
}

.stars_4 {
  left: 305px;
  top: -68px;
}

.stars_5 {
  left: 223px;
  top: 35px;
}

.stars_6 {
  left: 321px;
  top: -69px;
}

.stars_7 {
  left: 270px;
  top: -65px;
}

.stars_8 {
  left: 179px;
  top: -77px;
}

.stars_9 {
  left: 302px;
  top: -151px;
}

.stars_10 {
  left: 100px;
  top: 14px;
}

.stars_11 {
  left: 249px;
  top: -114px;
}

.stars_12 {
  left: 264px;
  top: -23px;
}

.nav__bar {
  position: relative;
  width: 504px;
  top: 14px;
  color: #98E9FF;
}

.nav__li {
  position: relative;
  cursor: pointer;
  padding: 12px 0;
  list-style-type: none;
}

.nav__li:not(:last-child)::after {
  position: absolute;
  content: "";
  display: block;
  width: 504px;
  height: 2px;
  bottom: 0;
  background-color: #E9E9E9;
  transition: 0.3s;
}

.nav__li:hover:after {
  width: 524px;
}

.nav__li:hover {
  font-size: 19px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.z10 {
  z-index: 10;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px 0 96px;
}

.wrapper__for__field {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  background-color: #E9E9E9;
  overflow: hidden;
}

.who__what__first {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-top: 120px;
  gap: 52px;
}

.who__what__first__top__left h2, .who__what__first__top__right h2, .who__what__second__bottom h2 {
  font-family: "Yanone Kaffeesatz";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
}
.who__what__first__top__left h4, .who__what__first__top__right h4, .who__what__second__bottom h4 {
  width: 624px;
  margin-top: 16px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
}

.who__what__first__top__right {
  margin-left: 20px;
}

.who__what__second__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 300px;
}

.who__what__three {
  padding-top: 200px;
  padding-bottom: 600px;
}

.back__dlue, .back__yellow {
  z-index: 2;
  width: 2px;
  height: 2px;
  border-radius: 100%;
}

.back__dlue {
  background-color: #98E9FF;
}

.back__yellow {
  background-color: #FFCE7D;
}

.section__if__you__want {
  background-color: #FFCE7D;
}/*# sourceMappingURL=index.css.map */