@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Yanone+Kaffeesatz:wght@700&display=swap");
.header {
  width: 1440px;
  height: 700px;
  background-image: url(../../images/background_1.png);
  overflow: hidden;
}

.nav_wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  left: 36px;
}

.title {
  width: 520px;
}
.title h1, .title h2 {
  margin-top: 88px;
  color: #E9E9E9;
  font-family: "Yanone Kaffeesatz";
  font-size: 80px;
  line-height: 79px;
  text-transform: uppercase;
}
.title h2 {
  margin-top: 0;
}
.title h3 {
  margin-top: 20px;
  color: #98E9FF;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;
}

.header-right-blok, .heder-img, .heder-stars-box {
  position: relative;
}

.kye-box, .moon, .women, .field, .stars {
  position: absolute;
}

.kye-box {
  transform-origin: center top;
  width: 95px;
  left: 95px;
}

.moon {
  top: 24px;
  left: 172px;
}

.women {
  top: 334px;
  left: 401px;
}

.field {
  top: 460px;
  left: 81px;
}

.stars, .moon {
  transition: 0.3s;
}

.stars:hover {
  scale: 1.2;
}

.heder-stars-box {
  opacity: 0;
}

.stars-0 {
  top: 140px;
  left: 568px;
}

.stars-1 {
  top: 200px;
  left: 641px;
}

.stars-2 {
  top: 152px;
  left: 742px;
}

.stars-3 {
  top: 184px;
  left: 750px;
}

.stars-4 {
  top: 32px;
  left: 773px;
}

.stars-5 {
  top: 130px;
  left: 714px;
}

.stars-6 {
  top: 56px;
  left: 768px;
}

.stars-7 {
  top: 62px;
  left: 732px;
}

.stars-8 {
  top: 67px;
  left: 626px;
}

.stars-9 {
  top: 100px;
  left: 748px;
}

.stars-10 {
  top: 232px;
  left: 567px;
}

.stars-11 {
  top: 166px;
  left: 696px;
}

.stars-12 {
  top: 248px;
  left: 736px;
}

.nav_bar {
  position: relative;
  width: 504px;
  top: 14px;
  color: #98E9FF;
}

.nav_li {
  position: relative;
  cursor: pointer;
  padding: 12px 0;
  list-style-type: none;
}

.nav_li:not(:last-child)::after {
  position: absolute;
  content: "";
  display: block;
  width: 504px;
  height: 2px;
  bottom: 0;
  background-color: #E9E9E9;
  transition: 0.3s;
}

.nav_li:hover:after {
  width: 524px;
}

.nav_li:hover {
  font-size: 19px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  width: 1320px;
  margin: auto;
}

.main {
  height: 4000px;
  width: 1440px;
}

.section-1 {
  height: 700px;
  background-color: #E9E9E9;
}

.who-what {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 73px;
  padding-top: 120px;
}

.who-what-top {
  display: flex;
  gap: 52px;
}

.who-what-top-left h2, .who-what-top-right h2, .who-what-bottom h2 {
  font-family: "Yanone Kaffeesatz";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
}
.who-what-top-left h4, .who-what-top-right h4, .who-what-bottom h4 {
  width: 624px;
  margin-top: 16px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
}

.who-what-top-right {
  margin-left: 20px;
}

.who-what-bottom {
  text-align: center;
  width: 624px;
  margin-top: 87px;
}/*# sourceMappingURL=index.css.map */